.CanvasForm {
    flex-grow: 1;
    padding: 0 3rem;
    background-color: white;
}
.CanvasForm form {
    margin: 0 auto;
    max-width: 80rem;
}

.CanvasForm canvas {
    border: 1px solid #000000;
    height: 100%;
    width: 100%;
}

input[name="title"] {
    border: none;
    font-size: 200%;
    font-family: "Fauna One";
    color: #008BF8;
    font-weight: 400;
    width: 100%;
}

input[name="title"] {
    outline: none;
}

button {
    border: none;
    font-size: 200%;
    font-family: "Fauna One";
    color: #008BF8;
    font-weight: 400;
    width: 100%;
}