.Header {
    height: 60px;
    background-color: #f3f3f3;
    padding: 0.5rem 0; 
    align-items: center; 
    flex: 0 0 auto;
}

.Header .logo {
   font-family: "Fauna One";
   color: #666;
   font-size: 3rem;
}

.Header button {
    background-color: transparent;
    border: 0;
    color: #008BF8;
    cursor: pointer;
    outline: none;
}